/*
 * Created on Mon Aug 14 2023
 * Author: Connor Doman
 */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@media not (prefers-reduced-motion) {
    #scroll-down div {
        animation-name: spin;
        animation-duration: 60000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

#scroll-down {
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-in-out;
}

#lets-talk {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#lets-talk.open {
    pointer-events: all;
    opacity: 1;
}
