article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p,
    ul,
    ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/*
    Custom Nav Menu
*/

.csek-nav-menu.hidden-nav {
    @apply opacity-0 pointer-events-none;
}

.csek-nav-menu {
    @apply z-50 fixed top-0 left-0 bg-csek-dark w-full h-screen transition-all duration-300 ease-in-out overflow-hidden;

    & .nav-container {
        @apply flex flex-row justify-between items-start w-csek-max mx-auto h-full py-32;

        & .csek-wp-nav {
            @apply text-5xl font-semibold;

            & a {
                @apply font-syne underline underline-offset-2 decoration-1 text-csek-white w-max transition-colors duration-200 ease-in-out;
            }

            & ul.menu {
                @apply flex flex-col items-start justify-start gap-8;
            }

            & .menu-item {
                @apply relative font-montserrat w-full;

                & > a {
                    @apply p-4 inline-block w-full;
                }
            }

            & .menu-item > a:hover {
                @apply text-csek-red;
            }

            & .menu-item + .menu-item {
                @apply border-t border-csek-dark;
            }

            & .current-menu-item {
                & > a {
                    @apply text-csek-white;
                }

                &::after {
                    content: "\203A";
                    @apply absolute -left-8 top-4 text-csek-red;
                }
            }

            & .menu-item-has-children {
                & .sub-menu {
                    @apply relative left-8;

                    & .menu-item > a {
                        /* @apply pl-8; */
                    }

                    & .menu-item > a:not(.current-menu-item > a) {
                    }
                }

                & .menu-item + .menu-item {
                }
            }
        }
    }
}

& .addresses {
    & .contact-info {
        @apply text-csek-white font-montserrat text-sm;
    }
}
/* Post Grid / List */

.csek-post-grid {
    @apply my-24;

    & li {
        @apply flex flex-col justify-between relative hover:drop-shadow-lg transition-all duration-200 ease-in-out;

        &:hover {
            transform: translateY(-0.25rem);
        }

        & h2 {
            @apply font-syne text-2xl font-semibold absolute z-10 text-csek-white p-4 drop-shadow-lg pointer-events-none;
        }

        & figure {
            @apply brightness-50 rounded-md overflow-hidden;
        }
    }

    & .wp-block-post-template {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-11/12 lg:w-csek-max mx-auto;
    }
}

/* Loading Screen */

#loading {
    @apply fixed top-0 left-0 z-[100] bg-csek-white w-screen h-screen transition-opacity duration-1000 ease-in-out;
}

#loading.complete {
    @apply opacity-0 pointer-events-none;
}

/* Scroll Down Spinner */

#scroll-down {
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

/* Let's Talk Screen */

#lets-talk.open {
    @apply pointer-events-auto opacity-100;
}

/* Hide Wordpress Header */

.toggle-header {
    @apply fixed bottom-6 right-6 z-50 bg-csek-white w-4 h-4 rounded-full flex items-center justify-center cursor-pointer;
    transform-style: preserve-3d;
}

.toggle-header::before {
    content: "Toggle WP toolbar";
    @apply absolute -bottom-2 -right-2 bg-csek-white px-2 pr-8 h-8 z-40 rounded-sm drop-shadow-md text-xs whitespace-nowrap flex items-center justify-start;
    transform: translateZ(-1px);
}

.hide-header {
    @apply h-0 opacity-0 pointer-events-none;
}
