/*
 * Created on Mon Dec 04 2023
 * Author: Connor Doman
 */

.csek-gravity-form {
    --select-dropdown: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.097631 1.31658 -0.097631 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5.70711 5.70711C5.31658 6.09763 4.68342 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='rgba(255, 255, 255, 1)'/%3E%3C/svg%3E");

    & .gform_wrapper {
        @apply w-11/12 max-w-csek-max;
    }

    & .gform_heading {
        @apply hidden;
    }

    & .gfield_required_asterisk {
        @apply text-csek-red text-lg;
    }

    & .lets-talk-form,
    & .enews-form {
        @apply flex flex-col gap-4 w-full;

        & .gfield_label:not(&.gform-field-label) {
            @apply text-csek-white font-montserrat font-bold text-xl;
        }

        & label.gform-field-label {
            @apply text-csek-white font-montserrat text-sm;
        }

        & input[type="text"],
        & input[type="tel"],
        & input[type="email"],
        & textarea,
        & .gfield_select {
            @apply bg-transparent border border-solid border-csek-white rounded-lg text-csek-white font-montserrat;
        }

        & .gfield_select {
            @apply relative appearance-none;
            background-image: var(--select-dropdown);

            &:before {
                content: ">";
                @apply absolute top-0 right-0 w-8 h-full text-csek-red rounded-r-lg pointer-events-none;
            }
        }

        & .gfield_description {
            @apply text-csek-light font-montserrat text-sm;
        }
    }
}

#lets-talk,
#newsletter-form {
    & input[type="submit"].gform_button {
        @apply bg-csek-red text-csek-white font-syne font-bold text-lg py-2 px-8 rounded-full mx-auto;
    }
}
